.bg-overlay{
  background: rgba(0,0,0,0.4);
}

input[type], textarea, select{
	border-radius: 0;
}

.multi-step {
	display: none;
}

.multi-step.active{
	display: block;
}

.num{
	position:relative;
}

.number{
	position: absolute;
}

.value{
	position: absolute;
	top:0;
	color: transparent !important;
	background: transparent !important;
	border:none;
}

.value.show{
	background: white !important;
	z-index: 3;
	color: black !important;
}

.ssn-toggle{
	position: absolute;
	right: 5px;
	top: 7px;
	color: #73b543 !important;
	z-index: 99;
	cursor: pointer;
}

.invalid-feedback{
	color: #f76270;
	line-height: 1em;
}

.alert.bg--error{
	background:#E23636; 
}
.alert__body{
	display: block !important;
	float: none !important;
}

.site-preloader{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;
	background: rgba(0,0,0,0.9);
	padding: 5em;
	display: none;
}

.site-preloader.show{
	display: block;
}

.site-preloader .site-message{
	text-align: center;
}

tr.account-selected{
	background: rgba(54, 190, 166, 0.2);
}

.account-selected td{
	color: #563dea;
	font-weight: bold;
}

.account-nav{
	padding-right: 15px;
	border-right: 1px solid #2962FF;
}

@media (max-width: 576px) {
  .section-form{
    padding-top: 0;
  }
}

@media (min-width: 720px){
    #menu2{
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}

@media (max-width: 767px){
	.switchable .row > div[class*='col-']:last-child:not(:only-child) {
	    margin-top: 0;
	}

	.bg-form{
		margin-top: 0;
		padding: 2em !important;
	}

	#menu2{
		padding: 0;
		padding-top: 15px;
		background: #38486f;
	}
}

#table-board td{
	padding: .25em .5em ;
}

.view-lead{
	cursor: pointer;
}