/*------------------------------------------------------------------
[Table of contents]

1. General Styles
2. left Side
3. Right Side
4. Marketing 2
5. Responsive Styles

-------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons");

/* -----------------------------------
    1 - General Styles
------------------------------------*/

*, body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html {
    position: relative;
    min-height: 100%;
    background: white;
}

body {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

/* -----------------------------------
    2 - Left Side
------------------------------------*/

#leftside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
    padding: 60px;
    z-index: 999;
    color: white;
    background-color: #152733;
    overflow-x: hidden; /* Disable horizontal scroll */
}

#logo {
  padding-right: 80px;
  max-width: 250px;
}

#logo img {
	  max-width: 250px;
}

#left-content {
    position: absolute;
    top: 480px;
    /*top: 50%; */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 30px;
    margin-left: 50px;
}

#left-content h3 {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 50px;
    width: 100%;
}

#left-content p {
    display: inline-block;
    color: #fff;
    text-align: left;
    font-size: 19px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#left-content a {
  text-decoration: none;
  color:white;
}

#leftside .line {
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#leftside .afcc {
    max-width: 100px;
}

#leftside .afspa {
    max-width: 120px;
}

#leftside i {
    font-size: 50px;
}

#leftside .term-pp {
    font-size: 14px !important;
}

/* -----------------------------------
    3 - Right Side
------------------------------------*/

/*#app1,*/
#contract,
#static,
#dlogic,
#declined,
#banklink,
#errupload,
#thankyou {
	    display:none;
}

#rightside {
   	  position: absolute;
      height:100%;
      color: black;
      background-color: white;
      right:0;
      top:0;
      bottom:0;
      z-index: 999;
      margin-bottom: 0px;
}

#rightside .line {
      padding:0;
      margin:0;
      border-bottom: 1px solid grey;
}

#rightside input,
#rightside select {
      margin-top:5px !important;
}

#rightside label {
      color:black !important;
      font-size: 14px !important;
}

#appbody {
    	min-width: 600px;
    	min-height: 100vh; /* will cover the 100% of viewport */
    	overflow: hidden;
    	display: block;
    	position: relative;
    	padding-bottom: 300px; /* height of your footer */
    	height: 100%;
}

#appbody nav {
    	z-index:11;
    	position: fixed;
    	top:0px;
}

#appbody nav img {
    	width: 120px;
}

#appbody nav p {
    	line-height: 4px;
}

#appbody nav .quest {
    	font-size: 15px;
    	text-transform: uppercase;
    	color:#68b231;
    	font-weight: 600;
}

#appbody nav .phone {
    	color:white;
}

#progressbar {
    	width: 20%;
      background-color: #68b231;
}

.top-hide {
      height:90px;
      width:100%;
      position: fixed;
      padding:0;
      margin:0;
      background: white;
      z-index:9;
}

.progress-b {
    	padding-top:40px;
      position: fixed;
      z-index:10;
    	width: 580px;
    	top:0px;
      height:100px;
}

.progress {
    	height:40px;
}

#app {
      top:100px;
      z-index:5;
      overflow-y: scroll;
}

#footer-form {
       position:absolute;
       bottom:0;
       left:0;
       width:100%;
       height:50px;   /* Height of the footer */
}

#footer-form p {
       padding-top: 0;
       font-size: smaller;
       color: #8a8a8a;
}

#terms {
      overflow-y: scroll;
      height: 100px;
      width: 100%;
      border: 1px solid #DDD;
}
#terms p {
      font-size: 11px;
      text-align: justify;
}

#agreeterms1 {
      font-size:14px;
}

#static .pingdata p {
      padding:0;
      margin:0;
      font-size:14px;
      margin-top: 10px;
}

#static .pingdata span {
      padding:0;
      margin:0;
      font-size:14px;
}

#static .pingdata .row {
      padding:0;
      margin:0;
}

#static .pingdata i {
      padding:0;
      margin:0;
      padding-right:5px;
}

#static .edit-info .btn {
      padding: 3px 12px;
      padding-top: 0px;
      margin-bottom: 0;
}

#contract {
      z-index:9;
      position: fixed;
      top:0px;
      padding-top:100px;
      left:0;
      background: white;
      overflow-y: scroll;
      max-height: 100%;
}
 .loading-gr {
      display: inline-block;
      width:100%;
}

#next-app1,
#sign  {
  padding: 10px 60px;
  font-size: 18px;
}


textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
        border-color: none;/*rgba(126, 239, 104, 0.8);*/
        box-shadow:  none; /*0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6); */
        outline: 0 none;
}

/* -----------------------------------
    4 - Marketing 2
------------------------------------*/
#rightmarket {
      z-index: 10;
}

#callus {
      max-width: 270px;
      position: -webkit-sticky;
      position: fixed;
      padding-top:40px;
      line-height: 8px;
}
#callus .quest {
      font-size: 15px;
      text-transform: uppercase;
      color:#68b231;
      font-weight: 600;
}

#market2 {
    	margin-top:120px;
}

#market2 .m2-side {
    	max-width: 270px;
    	border-left: 1px solid grey;
    	height: 700px;
    	position: -webkit-sticky; /* Safari */
      position: fixed;
    	padding-top: 00px;
}

/* -----------------------------------
    5 - Responsive Styles
------------------------------------*/

@media (min-width: 993px) {

      #fullapp  {
        margin-left: 0px;
      }

      #contract .iframe {
        max-width: 900px;
      }

}


@media (min-width: 993px) and (max-width: 1240px) {

      #logo {
         padding-right: 0px;
      }

      #left-content {
        margin-left: 10px;
      }

      #contract .iframe {
        max-width: 1000px;
      }

}

@media (max-width: 993px) {

      #app {
          top:150px;
      }

      #leftside {
        display:none;
      }

      #rightside .progress-b {
          	padding-top:30px;
          	padding-left:10%;
          	padding-right:10%;
            position: fixed;
            z-index:10;
          	right:0;
          	top:60px;
            height:120px;
            width: 100%;
      }
      #appbody {
          	min-width: 100%;
      }

      .top-hide {
        height: 150px;
      }

}

@media (max-width: 320px) {

      #appbody nav img {
          	width: 120px;
      }

      #appbody nav .quest {
          	font-size: 11px;
      }

      #appbody nav .phone {
            font-size: 12px;
}
